servers = (
  {
    address = "irc.freenode.net";
    chatnet = "Freenode";
    port = "6667";
    use_ssl = "no";
    ssl_verify = "no";
    autoconnect = "yes";
  }
);

chatnets = {
  Freenode = {
    type = "IRC";
    nick = "my_irc_nick";
  }
}

channels = (
  { name = "#docker"; chatnet = "Freenode"; autojoin = "Yes"; }
)

settings = {
  "fe-common/core" = {
    theme = "solarized-universal";
    hilight_color = "= %R";
  };
};
